.checkin {
    img {
        border-radius: 4px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 53px;
        width: 53px;
    } 

    textarea, select {
        padding: 15px;
    }

    .action-container {
        height: auto;
        overflow: hidden;
    }

    .select-location {
        float: none;
        width: auto;
        overflow: hidden;
    }

    .camera {
        float: right;
        font-size: 24px;
        padding: 12px;
        margin-left: 10px;
    }

    .camera,.location-button {
        margin-bottom: 15px;
    }

    .location-button {
        margin-top: 0;
        position: relative;
        padding: 14px 50px 14px 15px;
        overflow: hidden;
        border-radius: 3px;
        vertical-align: top;
        border: solid 1px #ccc;
        text-overflow: ellipsis;
        white-space: nowrap;

        .fa {
            margin-right: 3px;
        }

    }

    .fa, span {
        vertical-align: middle;
    }

    .location-button:after {
        right: 15px;
        content: '\f078';
        position: absolute;
        top: 50%;
        display: inline-block;
        font-family: FontAwesome;
        font-size: inherit;
        line-height: 1;
        color: #bbb;
        text-decoration: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
    }

    .location-button:after {
        right: 15px;
        content: '\f078';
    }

    .loading-location {
        color: $dark-grey-color;
        padding-right: 15px;
    }

    .loading-location:after {
        content: '';
    }

}

.checkin-loading {
    margin-top: 20px;
    text-align: center;
    color: $dark-grey-color;
}