.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    margin-left: -0.5em;
    margin-top: -0.5em;
}

.offline {
    display: block;
    position: absolute;
    top: 50%; left: 0; right: 0;
    text-align: center;
    font-size: 1.2em;
}