$desktop-breakpoint: 1224px;
$header-height: 76px;
$footer-height: 65px;

.map-container {
    @media only screen and (min-width : $desktop-breakpoint) {
        width: auto;
        height: 100%;
        overflow: hidden;
        padding-bottom: 40px;

        .map-canvas {
            width: 100%;
            height: 100%;
        }

        display: block;
    }

    display: none;
}

.list-container {
    @media only screen and (min-width : $desktop-breakpoint) {
        float: right;
        width: 300px;
        height: 100%;
        overflow: scroll;
        position: relative;
        padding-top: $header-height;
        padding-bottom: $footer-height;
        border-left: 1px solid $primary-color;

        .card.items .table-view-cell {
            padding: 11px 20px 11px 20px;
        }
    }

    width: 100%;
}

.checkin-content {
    @media only screen and (max-width : $desktop-breakpoint) {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        position: absolute;
        top: $header-height;
        right: 0;
        bottom: $footer-height;
        left: 0;
    }
}

.checkin-header {
    background-color: $secondary-color;
    color: $secondary-text-color;
    position: fixed;
    top:0;
    z-index: 10;
    width: inherit;
    height: $header-height;
    padding: 20px 30px 0 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.6) 0 1px 3px 0px;

}

.checkin-header-content {
    text-align: center;
    font-size: 11px;
    font-weight: 100;
    margin-top: 4px;

    a {
        text-decoration: none;
        color: $secondary-text-color;
    }
}

.checkin-footer {
    width: inherit;
    height: $footer-height;
    background-color: $light-grey-color;
    padding: 10px;
    border: solid 1px #ccc;
    position: fixed;
    bottom: 0;
    z-index: 10;
    text-align: center;
}

.leaderboard {
    @media only screen and (min-width : $desktop-breakpoint) {
        width: auto;
        height: 40px;
        overflow: hidden;
        bottom: 0;
        margin-top: -40px;
        background-color: $map-color;
        color: rgba(255,255,255, 0.8);
        display: block;
        font-weight: 100;
    }

    display: none;
}

.marquee {
    margin: 9px 0;
    height: 21px;
    overflow: hidden;
    cursor: default;
    font-size: 14px;
}

.city-stat {
    margin-left: 15px;
    letter-spacing: 0.5px;

    &:after {
        content: '\2022';
        margin-left: 15px;
    }

    .flag-icon {
        margin: 0 8px 0 4px;
        width: 18px;
        height: 14px;
    }
}

.city-stat:last-child {
    &:after {
        content: '';
    }
}

.meteor-icon {
    height: 18px;
    width: 19px;
    background-image: url('../favicon.ico');
    background-size: 19px 18px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.stats {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.stats-item {
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    -webkit-font-smoothing: antialiased;

    .stats-value {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .stats-label {
        font-size: 12px;
        opacity: 0.8;
        letter-spacing: 0.5px;
    }
}