html, body, textarea {
    font-family: $font-family;
    color: $default-text-color;
}

.center {
    text-align: center;
}

.bar {
    background-color: $primary-color;
    color: $primary-text-color;
    border-bottom: 0;
}

.title {
    color: $primary-text-color;
}

// ratchet overrides

.card {
    margin: 10px 0;
}

.table-view .table-view-cell {
    background-position: 0 100%;
}

.btn-primary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;

    &:active {
        background-color: darken($secondary-color, 20%);
        border: 1px solid darken($secondary-color, 20%);
    }
}

// end ratchet overides

