.card {
    &.items {
        border: none;
        .table-view-cell {
            padding: 11px 11px 11px 15px;
        }
    }
}

.checkin-item {
    width: 100%;

    .profile-image-wrapper {
        img {
            //float: left;
            width: $profile-image-size;
            height: $profile-image-size;
            border-radius: 4px;
        }

        height: 1px;
    }

    .body-wrapper {
        padding-left: $profile-image-size*1.2;
        margin-top: -1px;
        img {
            display: block;
            width: $checkin-image-size;
        }
        p {
            padding: 0.5em 0.5em 0.5em 0;
        }
    }

    .location {
        font-size: 12px;
    }

    .time {
        font-size: 12px;   
    }
}