.card {
    &.items {
        border: none;
        .table-view-cell {
            padding: 11px 20px 11px 15px;
        }
    }
}

.checkin-item {
    width: 100%;

    .profile-image-wrapper {
        img {
            //float: left;
            width: $profile-image-size;
            height: $profile-image-size;
            border-radius: 3px;
        }

        height: 1px;
    }

    .body-wrapper {
        padding-left: $profile-image-size*1.2;
        margin-top: -1px;
        img {
            display: block;
            // width: $checkin-image-size;
            border-radius: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 100%;
        }
        p {
            padding: 0.5em 0.5em 0.5em 0;
        }
    }

    .location {
        font-size: 12px;
    }

    .time {
        font-size: 12px; 
        float: right;
        color: $dark-grey-color;  
    }

    .device {
        float: right;
        position: relative;
        top: 3px;
        color: $dark-grey-color;
    }
}