.location-selector-modal {

    .location:active {
        background-color: #eee;
    }

    .location-icon, 
    .location-name {
        display: inline-block;
        vertical-align: middle;
    }

    .location-icon {
        width: 32px;
        margin-right: 10px;
    }

    .icon-close:before {
        font-family: FontAwesome;
        content: '\f00d';
        color: $primary-text-color;
    }
}