#map {
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #222234;
}

#map svg {
    width: 100%;
    height: 100%;
}

#map .feature {
    fill : #2C2C43;
    stroke : #4A4A70;
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.08); }
    50% { -webkit-transform: scale(1); }
    60% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1.05); }
    80% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

image.cities {
    &.selected {
        -webkit-animation-name: 'pulse_animation';
        -webkit-animation-duration: 1000ms;
        -webkit-transform-origin:70% 70%;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
}