.progress-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	background-color: $secondary-color;
	-webkit-transition: width 0.4s linear; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s linear;
}