// WALDO THEME
// $primary-color: #ed2724;
// $primary-text-color: #fff;

// METEOR THEME
$primary-color: #304b80;
$primary-text-color: #fff;
$light-grey-color: #ccc;

$font-family: 'Open Sans', sans-serif;

$profile-image-size: 50px;
$checkin-image-size: 200px;