// WALDO THEME
// $primary-color: #333333;
// $primary-text-color: #fff;
// $light-grey-color: #ccc;

$font-family: 'Open Sans', sans-serif;

$profile-image-size: 50px;
$checkin-image-size: 200px;


//METEOR THEME
$primary-color: #27272b;
$primary-text-color: #fff;

$secondary-color: #de4f4f;
$secondary-text-color: #fff;

$default-text-color: #27272b;
$light-grey-color: #e9e9e9;
$dark-grey-color: #bbb;