<template name="checkinForm">
		{{#if isFormExpanded}}
		<div class="checkin">
			<div class="content-padded expanded">
				{{#autoForm doc=formDocument collection="Checkins" type="insert" id="checkinForm"}}
					
					{{> afFieldInput name='text' rows=8 placeholder="What's going on?" autofocus=""}}
					{{> afFieldInput name='photo' type='hidden' value=pictureUrl}}
					
					{{#if currentGeoLocation}}
						{{#with currentGeoLocation}}
							{{> afFieldInput value=lat name='latitude' type="hidden"}}
							{{> afFieldInput value=lng name='longitude' type="hidden"}}
						{{/with}}
					{{/if}}
					{{> afFieldInput name='userId' type="hidden"}}
					
					<div class="action-container">
						{{#if pictureUrl}}
							<img src="{{pictureUrl}}" width="50">
						{{else}}
							<button class="btn camera"><i class="fa fa-camera-retro"></i></button>
						{{/if}}
						<div class="select-location">
							{{#if currentLocation}}	
						  		{{> afFieldInput name='locationName' type='hidden' value=currentLocation.name}}
								<div class="location-button location-picker">
									<a class="location-selected-name" href="#">
										{{currentLocation.name}}
									</a>
								</div>
							{{else}}
								<strong>getting your location...</strong>
							{{/if}}
						</div>
					</div>

					<input type="submit" class="btn-primary btn-block" value="Check in" disabled="disabled">
				{{/autoForm}}
			</div>
		</div>
		{{/if}}
	
		{{#if isCheckinPending}}
		<strong>checking in...</strong>
		{{/if}}

	{{>locationSelector locations=suggestedLocations}}
</template>