<template name="checkinForm">
	

	<div class="card form-container">
		{{#if currentLocation}}
			<strong>got location...</strong>
		{{else}}
			<strong>getting location...</strong>
		{{/if}}

		<!-- collection="Checkins" type="insert" -->

		{{#autoForm doc=formDocument collection="Checkins" type="insert" id="checkinForm"}}
			<fieldset>
				<legend>Check in</legend>
				{{> afQuickField name='text' rows=10}}
				{{> afFieldInput name='photo' type='hidden' value=pictureUrl}}
				
				{{#if currentLocation}}
					{{#with currentLocation}}
						{{> afFieldInput value=lat name='latitude' type='text' }}
						{{> afFieldInput value=lng name='longitude' type='text' }}
					{{/with}}
				{{/if}}

				{{> afFieldInput name='userId' type='text' }}
			</fieldset>
			{{#if pictureUrl}}
				<img src="{{pictureUrl}}" width="50">
			{{else}}
				<button class="btn camera">Add picture</button>
			{{/if}}
			<input type="submit" class="btn btn-primary" value="Check in">
		{{/autoForm}}
	</div>
	
	<div class="card result-container" style="display:none;">
		results go here
	</div>
</template>