<template name="item">
	<li class="table-view-cell">
		<div class="checkin-item" data-city="{{city}}">
			<div class="profile-image-wrapper">
				<img src="{{authorProfile.imageUrl}}">
			</div>

			<div class="body-wrapper">
				<span class="time">{{prettyCheckinTime}}</span>
				<strong>{{authorProfile.name}}</strong>
				<p>{{text}}</p>
				{{#if photo}}
					<img src="{{photo}}">
				{{/if}}
				{{#if locationName}}
					<span class="location"><i class="fa fa-map-marker"></i>  {{locationName}}</span>
				{{/if}}
				
				{{#if platformIsIOS}}<i class="fa fa-apple device"></i>{{/if}}
				{{#if platformIsAndroid}}<i class="fa fa-android device"></i>{{/if}}
			</div>
		</div>
	</li>
</template>