<template name="item">
	<li class="table-view-cell">
		<div class="checkin-item">
			<div class="profile-image-wrapper">
				<img src="{{authorProfile.imageUrl}}">
			</div>
			<div class="body-wrapper">
				<strong>{{authorProfile.name}}</strong>
				<p>{{text}}</p>
				{{#if photo}}
					<img src="{{photo}}">
				{{/if}}
				{{#if locationName}}
					<span class="location"><i class="fa fa-map-marker"></i>  {{locationName}} - </span>
				{{/if}}
				<span class="time">{{prettyCheckinTime}}</span>
			</div>
		</div>
	</li>
</template>