<template name="locationSelector">
	<div class="modal location-selector-modal">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="#myModalexample"></a>
			<h1 class="title">Select Location</h1>
		</header>

		<div class="content">
			<p class="content-padded">
				{{#if locations}}
					<div class="card">
						<ul class="table-view">
						{{#each locations}}
							<!-- only display venues 
								(not general location without id) -->
							{{#if id}}
							<li class="table-view-cell location" data-id="{{id}}">{{#if icon}}<img src="{{icon}}" class="location-icon">{{/if}} <div class="location-name">{{name}}</div> {{#if isSelected}}*{{/if}}</li>
							{{/if}}
						{{/each}}
						</ul>
					</div>
				{{else}}
				no locations
				{{/if}}
			</p>
		</div>
	</div>
</template>