<template name="checkins">
    <div class="checkin-header">
        <div class="checkin-header-logo"></div>
        <div class="checkin-header-content">
            <a href="http://twitter.com/bakeryHQ" target="_blank">by @bakeryHQ</a>
        </div>
    </div>
    <div class="checkin-content">
    	<div class="card items">
			<ul class="table-view">
			{{#each checkins}}
				{{> item }}
			{{/each}}
			</ul>
		</div>
    </div>
	<div class="checkin-footer">
		<a target="_blank" href="https://itunes.apple.com/us/app/meteor-day-checkin/id936269562">
			<img src="https://s3-eu-west-1.amazonaws.com/meteorday/download-ios.svg">
		</a>
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.idlcs7cmxehp9m4y8abc">
			<img style="height:41px;" src="https://s3-eu-west-1.amazonaws.com/meteorday/download-android.png">
		</a>
	</div>
</template>