<template name="checkins">
    <div class="checkin-header">
        <div class="dashboard-logo"></div>
        <div class="dashboard-title">METEOR DAY<br>CHECKIN<br>
            <span class="small"><a href="http://twitter.com/bakeryHQ" target="_blank">by @bakeryHQ</a></span>
        </div>
    </div>
	<div class="card items">
		<ul class="table-view">
		{{#each checkins}}
			{{> item }}
		{{/each}}
		</ul>
	</div>
	<div class="checkin-footer">
		<a target="_blank" href="https://itunes.apple.com/us/app/meteor-day-checkin/id936269562">
			<img src="/download-ios.svg">
		</a>
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.idlcs7cmxehp9m4y8abc">
			<img src="/download-android.png">
		</a>
	</div>
</template>